.card-category {
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: all 1s;
}

.card-category:hover {
  bottom: 5px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.bookings {
  padding: 2rem;
  margin: 3rem;
  border-radius: 8px;
  border-bottom: 5px solid rgba(56, 140, 250, 0.4);
  user-select: none;
}

.listings {
  padding: 2rem;
  margin: 3rem;
  border-radius: 8px;
  border-bottom: 5px solid rgba(56, 140, 250, 0.4);
  user-select: none;
}

.account-details {
  padding: 2rem;
  margin: 3rem;
  width: 75%;

  p {
    margin-bottom: 0.7rem;
  }
}

.profile-header {
  color: #666666;
  margin-bottom: 1.7rem;
  display: inline-block;
  font-weight: 600;
  font-size: 30px !important;
}

.card-tag-bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.9rem;
  background-color: rgba(56, 140, 250, 0.4);
  padding: 5px;
  border-radius: 8px;
}

.booking-host {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9rem;
  background-color: rgba(56, 140, 250, 0.4);
  padding: 5px;
  border-radius: 8px;
}

.booking-status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.9rem;
  background-color: rgba(29, 185, 151, 0.4);
  padding: 5px;
  border-radius: 8px;
  text-transform: uppercase;
}

.location {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9rem;
  background-color: rgba(56, 140, 250, 0.4);
  padding: 5px;
  border-radius: 8px;
}

.card-booking {
  text-align: center;
  height: 150px;
}

.booking-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.linear-gradient {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.cards-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.profile-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  border-radius: 12px;
  width: 740px;
  border: 1px solid lightgray;
  border-bottom: 5px solid rgba(56, 140, 250, 0.4);
  height: 220px;
  user-select: none;

  p {
    margin-bottom: 5px;
    color: #555454;
  }
}

.booking-statuses {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.booking-status-item {
  background-color: rgba(56, 140, 250, 0.8);
  padding: 0.3rem;
  border-radius: 25px;
  color: white;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 8px;
}

#background-white {
  background: white;
}

.flash-success {
  border: 2px solid #1edd88;
}

.flash-warning {
  border: 2px solid #ffc65a;
}

.flash-danger {
  border: 2px solid #fd1015;
}

.card-booking-info {
  text-align: left;
  line-height: 8px;
}

.card-booking-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.online-badge {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #79c600;
  position: relative;
  top: 7rem;
  right: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.my-booking-status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  border: 2px solid white;
  padding: 4px;
}

.booking-number {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px;
  border-radius: 8px;
}

.input-text {
  display: flex;
  justify-content: flex-start;
}