<div class='py-4'>

<h2 class='offset-md-3 py-4'>Create a new booking</h2>

<%= simple_form_for [@listing, @booking], html: { class: "col-md-6 offset-md-3" } do |f| %>
<%= f.input :start_date %>
<%= f.input :end_date %>
<%= f.submit %>
<% end %>

</div>