<style>

.fab {
  padding: 4px 8px;
}

.fa-twitter:hover {
  color: #1da1f2 !important;
}

.fa-facebook:hover {
  color: #1773ea !important;
}

.fa-linkedin:hover {
  color: #086291 !important;
}

</style>

<div class="footer">
  <div class="footer-box">
    <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    
    
  </div>
  <div class="footer-box">
    <div class="footer-copyright">
    This page was made by the Spotter Team
    </div>
  </div>
      
</div>