<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <ul class="navbar-nav">
    <li class="navbar-brand">
    <a href="/">
      <img src="https://svgsilh.com/svg/153812.svg" />
    </li>
    <li class="navbar-text">
      YouBoat
    </li>
    </a>
  </ul>
  


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <% if @current_user%>
      <li class="nav-item">
        <%# links needed here %>
        <a class="nav-link" href="/">Boats</a>
      </li>
       <li class="nav-item">
        <%# links needed here %>
        <a class="nav-link" href="/users/<%= @current_user.id %>#bookings-section">My Bookings</a>
      </li>
        <%# username here? %>
        <a href="/users/<%= @current_user.id%>">
      <li class="navbar-item nav-link user"><%= @current_user.email %></li>
      </a>
       <% end %>
    </ul>
  </div>

</div>