.mapboxgl-popup {
  max-width: 200px !important;
  position: relative;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
}

.map-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.card-price {
  position: absolute;
  right: 8px;
  bottom: 50px;
  color: white;
  background-color: rgba(56, 140, 250, 0.8);
  padding: 3px 5px;
  border-radius: 8px;
}

h4 {
  background-color: #167FFB;
  color: white;
  margin: 0;
  padding: 12px 8px;
  &:hover{
    background-color: #0069d9;
  }
}

a {
  text-decoration: none
}
